@{
    ViewData["Title"] = "Home";
}
<body class="home">
    <nav class="home-navbar">
        <div class="nav-left">
            <a href="#" class="nav-link">About us</a>
        </div>
        <div class="nav-right">
            @if (User?.Identity?.IsAuthenticated == true)
            {
                <form asp-controller="Home" asp-action="Logout" method="post" class="d-inline">
                    <button type="submit" class="btn btn-light d-flex align-items-center justify-content-center gap-2">
                        Sign out
                        <img src="~/icons/signout.svg" />
                    </button>
                </form>
            }
            else
            {
                <a class="nav-link" asp-controller="Home" asp-action="Login">Sign in</a>
                <a class="nav-btn" asp-controller="Home" asp-action="Registration">Sign up</a>
            }
        </div>
    </nav>

    <div id="bg-pictured" class="mt-0">
        <img class="bg-picture" src="~/images/backgroundmain.jpg" />
        <div class="bg-content h-50 w-100 d-flex">
            <div class="glass h-100 px-4 py-5 mx-5 d-flex flex-column justify-content-between" style="width: 37%">


                @if (User?.Identity?.IsAuthenticated == true)
                {
                    var email = User.FindFirst("employeeEmail")?.Value ?? "email@email";
                    var name = User.FindFirst("employeeName")?.Value ?? "name";
                    var role = User.FindFirst("employeeRole")?.Value ?? "role";

                    <div class="text-content-container">
                        <h1 class="text-clr-sec mb-4"><strong>PROJECTS LIBRARY</strong></h1>
                        <h3 class="text-clr-sec">
                            Hello @name! You authorized as @email - @role
                        </h3>
                    </div>
                    <div>
                        <form asp-controller="Home" asp-action="Logout" method="post" class="d-inline">
                            <button type="submit" class="btn btn-light d-flex align-items-center justify-content-center gap-2" style="width: 140px;">
                                Sign out
                                <img src="~/icons/signout.svg" />
                            </button>
                        </form>
                        <a class="btn btn-primary dt-btn-edit d-flex align-items-center justify-content-center gap-2 mt-2" asp-controller="Tasks" asp-action="Index" style="width: 140px;">
                            Let`s start
                            <img src="~/icons/doublearrow.svg" />
                        </a>
                    </div>
                }
                else
                {
                    <div class="text-content-container">
                        <h1 class="text-clr-sec mb-4"><strong>PROJECTS LIBRARY</strong></h1>
                        <h3 class="text-clr-sec" style="text-align: justify;">
                            Discover new possibilities with Projects Library — get started today
                            and achieve faster, more efficient, and easier project management!
                        </h3>
                    </div>
                    <div class="form-container pb-5">
                        <form asp-controller="Home" asp-action="Registration" method="get">
                            <div class="sign-up-container  mb-2">
                                <input name="email" id="emailRegistrationInput" type="email" placeholder="Enter your email..." />
                                <button type="submit" class="btn btn-primary dt-btn-edit">Sign up</button>
                            </div>
                            <div class="form-buttons-container">
                                <a class="btn btn-success ">About us</a>
                                <a class="btn btn-primary dt-btn-edit" asp-controller="Home" asp-action="Login">Sign in</a>
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>
    </div>


</body>