@model ProjectsLibrary.MVC.Models.Home.RegistrationViewModel;
@{
    ViewData["Title"] = "Registration";
}
<body class="home">
    <nav class="home-navbar bg-clr-dark">
        <div class="nav-left">
            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
            <a href="#" class="nav-link">About us</a>
        </div>
        <div class="nav-right">
            <a class="nav-btn" asp-controller="Home" asp-action="Login">Sign in</a>
        </div>
    </nav>

    <div class="auth-container d-flex">
        <div class="auth-form-section w-50 d-flex align-items-center justify-content-center p-5">
            <div class="w-100">
                <h2 class="text-center mb-3">Create account</h2>
                <div>
                    <form asp-controller="Employees" asp-action="Register" method="post">
                        <div class="d-flex justify-content-between gap-3">
                            <div class="w-50">
                                <label asp-for="Employee.FirstName" class="form-label form-title">Firstname</label>
                                <input asp-for="Employee.FirstName" class="form-control" type="text"/>
                                <span asp-validation-for="Employee.FirstName" class="invalid-feedback d-block"></span>
                            </div>
                            <div class="w-50">
                                <label asp-for="Employee.LastName" class="form-label form-title">Lastname</label>
                                <input asp-for="Employee.LastName" class="form-control" type="text" />
                                <span asp-validation-for="Employee.LastName" class="invalid-feedback d-block"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Employee.Email" class="form-label form-title"></label>
                            <input asp-for="Employee.Email" class="form-control" type="email" value="@Model.InitialEmail" />
                            <span asp-validation-for="Employee.Email" class="invalid-feedback d-block"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Employee.Password" class="form-label form-title"></label>
                            <input asp-for="Employee.Password" class="form-control" type="password" />
                            <span asp-validation-for="Employee.Password" class="invalid-feedback d-block"></span>
                        </div>
                        <button type="submit" class="btn btn-primary dt-btn-edit w-100 mt-3">Sign Up</button>
                    </form>
                    <div class="text-center mt-2">
                        <p class="text-clr-main">
                            Already have an account?
                            <a class="dt-a-link" asp-controller="Home" asp-action="Login">Sign In</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="auth-info-section w-50 d-flex flex-column justify-content-center align-items-center text-clr-sec">
            <img class="bg-picture" src="~/images/backgroundmain.jpg" alt="Registration">
            <div class="bg-content glass w-100 h-100 d-flex flex-column align-items-center justify-content-center p-5">
                <h2 class="text-clr-sec mb-5"><strong>PROJECTS LIBRARY</strong></h2>
                <h4 class="text-clr-sec">
                    Discover new possibilities with Projects Library — get started today
                    and achieve faster, more efficient, and easier project management!
                </h4>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_ValidStylesCommon" />
}