@model ProjectsLibrary.MVC.Models.Employee.DetailsEmployeeViewModel

@{
    ViewData["Title"] = "Employee details";
}

<div class="container col-12 py-1">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4 header-container rounded-3">
        <div class="row">
            <span class="text-lg-start page-header"><strong>Details</strong></span>
            <span class="text-muted"><strong>Here you can update information about the employee</strong></span>
        </div>
        <h6 class="text-center mb-0" style="white-space: nowrap;">
            ProjectsLibrary &gt; Employees &gt; <span class="text-clr-info">@($"{Model.Employee.FirstName} {Model.Employee.LastName}")</span>
        </h6>
    </div>

    <div class="body-container rounded-3">
        <form asp-action="Details" asp-controller="Employees" method="post" asp-route-id="@Model.Id"
              class="w-100 bg-white p-4 shadow-sm rounded-top needs-validation" novalidate>
            <h2 class="mb-3"><strong>Employee information</strong></h2>

            <div class="d-flex justify-content-between gap-3 mb-3">
                <div style="width: 45%;">
                    <label asp-for="Employee.FirstName" class="form-label form-title">Firstname</label>
                    <input asp-for="Employee.FirstName" class="form-control" placeholder="Enter employee`s last name..." />
                    <span asp-validation-for="Employee.FirstName" class="invalid-feedback d-block"></span>
                </div>

                <div style="width: 45%;">
                    <label asp-for="Employee.LastName" class="form-label form-title">Lastname</label>
                    <input asp-for="Employee.LastName" class="form-control" placeholder="Enter employee`s last name..." />
                    <span asp-validation-for="Employee.LastName" class="invalid-feedback d-block"></span>
                </div>
            </div>

            <div class="mb-3">
                <label asp-for="Employee.Email" class="form-label form-title">Email</label>
                <input asp-for="Employee.Email" class="form-control" placeholder="Enter employee`s email..." />
                <span asp-validation-for="Employee.Email" class="invalid-feedback d-block"></span>
            </div>

            <div class="d-flex justify-content-end mt-3">
                <button type="reset" class="btn btn-danger mx-2">Reset</button>
                <button type="submit" class="btn btn-primary dt-btn-edit">Submit</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_ValidStylesCommon" />
}