@model ProjectsLibrary.MVC.Models.Task.IndexTaskViewModel;
@{
	ViewData["Title"] = "Tasks";
}

<div class="container col-12 py-1">

	<div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4 gap-3">
		<a class="btn btn-outline-secondary btn-dark text-clr-sec d-flex align-items-center gap-2" asp-controller="Tasks" asp-action="Add">
			<img src="/icons/plus.svg" alt="add">
			<span>Add task</span>
		</a>

		<h6 class="text-center mb-0">
			ProjectsLibrary &gt; <span class="text-clr-info">Tasks</span>
		</h6>
	</div>

	<div class="mb-4">
		<input type="search"
			   id="searchInput"
			   class="form-control form-control-lg"
			   placeholder="Search tasks..."
			   aria-label="Search tasks"
			   style="width: 100%;">
	</div>

	<div class="table-container">
		<table id="tasks-table" class="table table-bordered table-hover table-striped mb-0">
			<thead class="table-dark">
				<tr class="text-center">
					<th>ID</th>
					<th>Task</th>
					<th>Status</th>
					<th>Comment</th>
					<th>Creator</th>
					<th>Executor</th>
					<th class="text-center">Options</th>
				</tr>
			</thead>
			<tbody>
				<!-- Server-side DataTable loading -->
			</tbody>
		</table>
	</div>

	<div class="modal fade" id="taskDeleteModal" tabindex="-1" aria-labelledby="taskDeleteLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" style="width: 33rem;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 id="taskDeleteModalLabel" class="modal-title">Warning about deleting data about the task</h5>
					<img src="icons/warning_black.svg" alt="" style="height: 35px;" />
				</div>
				<div class="modal-body">
					<div class="pb-1">
						<p class="text-center modal-text"></p>
					</div>
					<div class="d-flex justify-content-between">
						<button id="cancelBtn" type="button" class="btn btn-danger">Cancel</button>
						<button id="confirmBtn" type="button" class="btn btn-primary dt-btn-edit">Confirm</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

@section Scripts {
	<script type="text/javascript">
		let table;
		let searchTimeout;
		let userRole = @((int)Model.UserRole);
		let managerRole = @((int)EmployeeRole.Manager);

		$(document).ready(function () {
			table = $('#tasks-table').DataTable({
				dom: "t<'row'<'col-6'i><'col-6'p>>",
				processing: true,
				serverSide: true,
				orderFixed: false,
				orderReset: false,
				orderMulti: false,
				order: [[0, 'asc']],
				orderSequence: ['asc', 'desc'],
				pageLength: 10,
				pagingType: 'simple_numbers',
				ajax: {
				  url: 'Tasks/Get',
				  type: 'POST',
				  dataType: 'json',
				  data: function (d) {
					var order = d.order && d.order.length ? d.order[0] : { column: 0, dir: 'asc' };
					d.sortColumn = d.columns[order.column].name;
					d.sortDirection = order.dir;
					d.searchingValue = d.search.value;
					d.searchableFieldsNames = ['name'];
				  }
				},
				columns: [
					{
						'data': null,
						'name': 'Id',
						'render': function (data, type, row) {
							return renderIdColumn(row.id);
						}
					},
					{
						'data': null,
						'name': 'Name',
						'render': function (data, type, row) {
							return renderNameColumn(row.id, row.name)
						}
					},
					{
						'data': null,
						'name': 'Status',
						'render': function (data, type, row) {
							return renderStatusColumn(row.statusString)
						}
					},
					{
						'data': null,
						'name': 'Comment',
						'render': function (data, type, row) {
							return renderCommentColumn(row.comment)
						}
					},
					{
						'data': null,
						'name': 'Creator',
						'render': function (data, type, row) {
							return renderCreatorName(row.creator.firstName, row.creator.lastName)
						}
					},
					{
						'data': null,
						'name': 'Executor',
						'render': function (data, type, row) {
							return renderExecutorName(row.executor.firstName, row.executor.lastName)
						}
					},
					{
						'data': null,
						'render': function (data, type, row) {
							return renderOptionsButtons(row.id, row.name, userRole, managerRole)
						}
					}
				],
				columnDefs: [
					{ visible: false, targets: 0 },
					{ width: '20%', targets: 1 },
					{ width: '20%', targets: 3 },
					{
						targets: [4, 5, 6],
						orderable: false
					},
				],
			});
		});

		function renderIdColumn(id) {
			return `<a href='/Tasks/Details/${id}' class='dt-a-link'>${id}</a>`;
		};

		function renderNameColumn(id, name) {
			return `<a href='/Tasks/Details/${id}' class='dt-a-link'>${name ?? ''}</a>`;
		};

		function renderStatusColumn(status) {
			return `<span class="text-muted"><strong>${status ?? ''}</strong></span>`;
		};

		function renderCommentColumn(comment) {
			return `<div class="fixed-height">
						<span class="text-muted">${comment ?? 'No comment on this task'}</span>
					</div>`;
		};

		function renderCreatorName(firstname, lastname) {
			return `<span><strong>${firstname + ' ' + lastname}</strong></span>`;
		};

		function renderExecutorName(firstname, lastname) {
			return `<span>${firstname + ' ' + lastname}</span>`;
		};

		function renderOptionsButtons(id, name, userRole, managerRole) {
			return `<div class='d-flex justify-content-center align-items-center gap-3'>
						<a class='btn btn-sm dt-btn-edit' href='/Tasks/Details/${id}' data-bs-toggle='tooltip' title='Edit'>
							<img src="icons/edit.svg" alt="edit" />
						</a>
						${(userRole > managerRole) ? `
							<a class='btn btn-sm btn-danger delete-btn' href='#' data-id='${id}' data-name='${name ?? ''}' data-bs-toggle='tooltip' title='Delete'>
								<img src="icons/delete.svg" alt="delete" />
							</a>` : ''}
					</div>`;
		};

		$("#searchInput").on("keyup", function (event) {
			const val = $(this).val();

			if (event.key === "Enter" || event.keyCode === 13) {
				clearTimeout(searchTimeout);

				table.search(val).draw();
				return;
			}

			clearTimeout(searchTimeout);

			searchTimeout = setTimeout(function () {
				table.search(val).draw();
			}, 1500);
		});

		$(document).on('click', '.delete-btn', function(e) {
			e.preventDefault();

			const id = $(this).data('id');
			const name = $(this).data('name');

			$('#taskDeleteModal').data('taskId', id);
			$('#taskDeleteModal').data('taskName', name);

			$('#taskDeleteModal .modal-body p').text(`Are you sure you want to delete the ${name} task?`);

			var modal = new bootstrap.Modal(document.getElementById('taskDeleteModal'));
			modal.show();
		});

		$('#confirmBtn').on('click', function() {
			const id = $('#taskDeleteModal').data('taskId');

			$.ajax({
				url: `Tasks/Delete/${id}`,
				type: 'DELETE',
				dataType: 'json',
				success: function (response) {
					table.draw();
				},
			});

			var modal = bootstrap.Modal.getInstance(document.getElementById('taskDeleteModal'));
			modal.hide();
		});

		$('#cancelBtn').on('click', function() {
			var modal = bootstrap.Modal.getInstance(document.getElementById('taskDeleteModal'));
			modal.hide();
		});
	</script>
}